/* ColorUI Icon - 请从源项目复制完整的 icon.css 文件 */
/* 源文件路径: ismart-chargingPile-miniapp-hjp/colorui/icon.css */

@keyframes cuIcon-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.cuIconfont-spin {
	-webkit-animation: cuIcon-spin 2s infinite linear;
	animation: cuIcon-spin 2s infinite linear;
	display: inline-block;
}

.cuIconfont-pulse {
	-webkit-animation: cuIcon-spin 1s infinite steps(8);
	animation: cuIcon-spin 1s infinite steps(8);
	display: inline-block;
}

[class*="cuIcon-"] {
	font-family: "cuIcon";
	font-size: inherit;
	font-style: normal;
}

@font-face {
	font-family: "cuIcon";
	src: url('//at.alicdn.com/t/font_533566_yfq2d9wdij.eot?t=1545239985831');
	src: url('//at.alicdn.com/t/font_533566_yfq2d9wdij.eot?t=1545239985831#iefix') format('embedded-opentype'),
		url('//at.alicdn.com/t/font_533566_yfq2d9wdij.woff?t=1545239985831') format('woff'),
		url('//at.alicdn.com/t/font_533566_yfq2d9wdij.ttf?t=1545239985831') format('truetype'),
		url('//at.alicdn.com/t/font_533566_yfq2d9wdij.svg?t=1545239985831#cuIcon') format('svg');
}
