/* ColorUI Main - 请从源项目复制完整的 main.css 文件 */
/* 源文件路径: ismart-chargingPile-miniapp-hjp/colorui/main.css */

/*
  ColorUi for uniApp  v2.1.6 | by 文晓港 2019-05-31 10:44:24
  仅供学习交流，如作它用所承受的法律责任一概与作者无关  
  
  *使用ColorUi开发扩展与插件时，请注明基于ColorUi开发 
  
  （QQ交流群：240787041）
*/

/* ==================
        初始化
 ==================== */
body {
	background-color: #f1f1f1;
	font-size: 28upx;
	color: #333333;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
}

.round {
	border-radius: 5000upx;
}

.radius {
	border-radius: 6upx;
}
