<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <Properties>
        <Property name="log_home">logs</Property>
        <Property name="log_level">ERROR</Property>
        <Property name="console_level">Info</Property>
    </Properties>
    <!--  先定义所有的appender -->
    <appenders>
        <!--   这个输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!--    控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="${console_level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--    这个都知道是输出日志的格式 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <!--   文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用 -->
        <!--   append为TRUE表示消息增加到指定文件中，false表示消息覆盖指定的文件内容，默认值是true -->
        <File name="Info" fileName="${log_home}/test.log" append="false">
            <ThresholdFilter level="${console_level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <!--   这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="RollingFile" fileName="${log_home}/log.log"
                     filePattern="${log_home}/$${date:yyyy-MM}/log-%d{yyyy-MM-dd}-%i.log.gz">
            <!--   添加过滤器ThresholdFilter,可以有选择的输出某个级别以上的类别 onMatch="ACCEPT" onMismatch="DENY"意思是匹配就接受,否则直接拒绝 -->
            <ThresholdFilter level="${log_level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <!-- 按天递计算频率 -->
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="2MB"/>
            </Policies>
            <!--保存日志文件个数-->
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${log_home}/$${date:yyyy-MM}" maxDepth="2">
                    <IfFileName glob="*.log.gz" />
                    <IfLastModified age="20d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </appenders>

    <!--  然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <!--   建立一个默认的root的logger -->
        <root level="trace">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Info"/>
            <appender-ref ref="Console"/>
        </root>

    </loggers>
</configuration>