.index {
		::v-deep.u-dropdown__menu {
			padding-left: 30rpx;
		}

		::v-deep.u-dropdown__menu__item {
			width: 100%;
			display: contents;
		}


		.u-card-wrap {
			background-color: $u-bg-color;
			padding: 1px;
			margin-top: 20rpx;
		}

		.u-body-item {
			height: 200rpx;
			font-size: 32rpx;
			color: #333;
			padding: 0rpx 10rpx;
			display: flex;
			justify-content: space-between;
		}
		.u-body-item-title{
			height: 100%;
			display: flex;
		    flex-direction: column;
			justify-content: space-evenly;
		}
		.u-body-item image {
			width: 120rpx;
			flex: 0 0 120rpx;
			height: 120rpx;
			border-radius: 8rpx;
			margin-left: 12rpx;
		}
	}
