.weight700{
	font-weight: 700;
}
.pb100{
	padding-bottom: 100rpx;
}
.pb140{
	padding-bottom: 140rpx;
}
.w240{
	width: 240rpx;
}
.textAlignEnd{
	text-align: end;
}
.lineHeight-lg{
	line-height: 50rpx;
}

.text-indent-2 {
	text-indent: 2em;
}
