.index {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.font700{
			font-weight: 700;
		}
		.pic {
			width: 100%;
			height: 50vh;

			image {
				width: 100%;
				height: 100%;
			}
		}

		.btns {
			height: 30vh;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin-bottom: 10vh;

			.btn1,
			.btn2,
			.btn3 {
				width: 50%;
				color: #FFFFFF;
				font-size: $uni-font-size-base;
			}

			.btn1 {
				// background-color: $uni-btn;
				background-color: #6399FE;
			}

			.btn2 {
				color: #6399FE;
				background-color: #FFFFFF;
				border: 1px solid #6399FE
			}

			.btn3 {
				color: #333333;
				background-color: #FFFFFF;
			}
			
		}
		
	}
